*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'open sans' sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;

}
.row{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#d9b1b3;
    padding: 100px 0;
    color: white;
}

header{
    height:120vh ;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url(./banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding: 6opx;
}
.banner{
    display: flex;
    flex-direction: row;
    width: 80%;

}
.banner .banner-heading{
    font-family: 'playfair display', serif;
    font-size: 6rem;
    font-style:italic;  

}
.banner .banner-text{
    font-size: 0.9rem;
    font-weight: normal;
    background-color: white;
    padding: 40px;
    color: black;
    margin-bottom: 40px;
    width: 50%;
}
.text-1{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    font-family: 'playfair display', serif;
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 15px;
}
.text-1 span{
    font-size: 6rem;
    line-height: 0%;

}
.text-2{
    font-style: normal;
    font-size: 0.8rem;
    width: 50%;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

    
   
}
.picture-gallery{
    width: 80%;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    flex-shrink: 0;
    align-items: center;
}

.practice{
background-color: rgb(145, 110, 145);
display: flex;
flex-direction: row;
margin-top: 0;
width: 100%;
height: 100vh;
}

.image-1 
{ background-image: url(./gallery-1.jpeg);
    width: 33%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;}

.image-2{
    width: 33%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(./gallery-2.jpeg);}
.image-3{
    background-image: url(./gallery-3.jpeg);
    width: 35%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;}

.coming-soon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 50px 0;
    background-color: #d9b1b3;
    width: 100%;
    color: white;
    font-family: cursive;
    font-style: italic;

   
}
.coming-soon-text{
    font-size: 1.5rem;
    font-family: 'playfair display', serif;
    color: white;
}
/* .coming-soon .oming-soon-heading{
    font-size: 10rem;
    background-color: tomato;
    
} */
input{
    border-radius: 10px;
    width: 200px;
    height: 30px;
}
button{
   background-color: black;
   color: white;
   border-radius: 10px;
   height: 30px;
   width: 150px;

}
.practice-2{
    display: flex;
flex-direction: row;
margin-top: 0;
width: 100%;
height: 100vh;
}
.image-4{
    background: url(./gallery-4.jpeg);
    width: 33%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    
}
.image-5{
background: url(./gallery-5.jpeg);
    width: 33%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    
}

.image-6{
    background: url(./gallery-6.jpeg);
    width: 33%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 

}
.aria-diamantis{
display: flex;
flex-direction: row;
margin-top: 0;
width: 100%;
height: 100vh;
}
.img-woman{
    background-image: url(./article-img.jpeg);
    width: 20%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 40px;
    margin: 40px 20px 40px 40px;

}
.d-text{

    width: 60%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 80px;
}
.diamantis-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Birthstone Bounce', cursive;
  color: #d31866;
}
.spring-collection{
 display: flex;
margin-top: 0;
height: 100vh;
background-color: #d9b1b3;
padding: 50px;



}
 .spring-heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #d9b1b3;
    width: 100%;
    color: white;
    padding-top: 100px;
    font-family: cursive;
    font-style: italic;

}
.slide-1{
    background-image: url(./slide-1.jpg);
    width: 25%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    margin-right: 5px;

}
.slide-2{
    background-image: url(./slide-2.jpg);
    width: 25%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 5px; }

    .slide-3{
        background-image: url(./slide-3.jpg);
        width: 25%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-right: 5px; }

        .slide-4{
            background-image: url(./slide-4.jpg);
            width: 25%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat; 
            margin-right: 5px;
        }
        .shoe-collection{
            display: flex;
            flex-direction: row;
            margin-top: 0;
            width: 100%;
            height: 100vh;
            padding: 50px;
        }
        
        .spring-collection .spring-heading{

            width: 30%;
            height: 40px;
        }
        .arrow{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-top: 0px;
            height: 60px;
            margin-left: 0px;
            align-items: center;
            background-color: #d9b1b3;
            color-adjust: white;
    
 
        }
    
        
        .product-1{
            background-image: url(./product-1.jpg);
            width: 33%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            margin-right: 15px; 

        }
        .product-2{
            background-image: url(./product-2.jpg);
            width: 33%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat; 
            margin-right: 25px;

        }
        .product-text{
            justify-content: center;
            text-align: justify;
        }
        .subscribe{
            display: flex;
            flex-direction: row;
            margin-top: 0;
            width: 100%;
            height: 100vh;
            
        
        }
        .subscribe-image{
            background-image: url(./subscribe.jpeg);
            width: 33%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat; 
        }
        .subscribe-form ,input{
            border-radius: 0;
            margin-left: 20px;
        
        }
        .subscribe-line{
            border-top-color: #d9b1b3;
            border-style: solid;
            border-bottom-color: white;
            border-left: white;border-right: white;
            margin-left: 20px;

            width: 40%;
            text-align: center;
            margin-top: 20px;
           
        }
        .submit-btn{
            justify-content: center;
            margin-left: 200px;
            border-radius: 20px;
            width: 10%;
            height: 40px;
            margin-top: 20px;
        }
        .subscribe-text{
            text-align: center;
            margin-left: 20px;
            padding: 40px;
            width: 50%;
        }
